& {
  > section {
      > header {
        background: #ec5d2f;
        padding-top: px(80);
        padding-bottom: px(25);

      h1 {
        font-family: 'Montserrat';
        font-size: px(40);
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-bottom: px(70);
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 px(50);
        margin-bottom: px(50);

        a {
          display: inline-block;
          vertical-align: middle;
          text-decoration: none;
          color: #fff;
          opacity: .5;
          max-width: px(200);
          width: 100%;
          height: px(70);
          line-height: px(66);
          font-family: 'Montserrat';
          text-align: center;
          font-size: px(22);
          font-weight: bold;

          &.active {
            border: 1px solid #fff;
            border-radius: 18px;
            opacity: 1;
          }
        }
      }
    }
  }

  .comment {
    padding: px(50) px(40) px(40) px(40);
    border-bottom: px(2) solid rgba(000,000,000,0.5);
    div {
      display: inline-block;
      vertical-align: middle;
      width: px(170);
      height: px(170);
      border-radius: 50%;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    h1 {
      display: inline-block;
      vertical-align: middle;
      font-size: px(26);
      font-weight: bold;
      margin-left: px(30);
      width: px(280);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span {
      font-size: px(20);
      span {
        color: #e3e3e3;
      }
    }

    a {
      color: #000;
      font-size: px(20);
    }

    p {
      padding-top: px(30);
      font-size: px(24);
      padding-left: px(100);
    }
  }
}
